# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
retro-env/
.env/

# VSCode settings
.vscode/

# macOS
.DS_Store

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# Environment files
.env
